<!-- /templates/customers/addresses.liquid -->


{% form 'customer_address', customer.new_address %}


<div class="form">
    <h1>Add New Address</h1>
    <div class="form-body">
        <div class="input-group">
            <div class="input-item">
                <label for="first_name">First Name</label>
                <input type="text" value="" name="address[first_name]" size="30" />
            </div>

            <div class="input-item">
                <label for="last_name">Last Name</label>
                <input type="text" value="" name="address[last_name]" size="30" />
            </div>
        </div>
        <div class="input-item">
            <label for="address1">Address 1</label>
            <input type="text" value="" name="address[address1]" />
        </div>
        <div class="input-item">
            <label for="address2">Address 2</label>
            <input type="text" value="" name="address[address2]" />
        </div>

        <div class="input-group">
            <div class="input-item">
                <label for="city">City</label>
                <input type="text" value="" name="address[city]" />
            </div>

            <div class="input-item">
                <label for="province">Province</label>
                <select name="address[province]" /></select>
            </div>
        </div>
    </div>

    {{ form.errors | default_errors }}

    <div class="form-footer">
        <button class="btn-primary form-btn form-singup" type="submit">Add New Address</button>
        <a href="#">Cancel</a>
    </div>
</div>

{% endform %}


<!-- 
<label for="city">City</label>
<input type="text" value="" name="address[city]" />

<label for="country">Country</label>
<select name="address[country]" /></select>

<label for="province">Province</label>
<select name="address[province]" /></select>

<label for="zip">Zip/Post Code</label>
<input type="text" value="" name="address[zip]" />

<label for="phone">Phone Number</label>
<input type="tel" value="" name="address[phone]" /> -->