.account-page {
	display: flex;
	align-items: flex-start;
}

/* menu bar */
#shopify-section-account-sidebar {
	height: 100vh;
	flex: 0 1 25%;
	padding: 4.5rem 2rem;
	background: #fbfbfb;
}

.menu-bar__title {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}

.menu-bar__list {
	margin-top: 2.5rem;
}

.menu-bar__list .menu-item {
	margin-top: 1rem;
}

.menu-item input[type="radio"] {
	visibility: hidden;
}

.menu-item label {
	cursor: pointer;
}

.selected + label {
	text-decoration: underline;
}

.tab-hidden {
	display: none;
}

.tab-content {
	flex: 0 1 75%;
	padding: 4.5rem 5rem;
	margin: 0 auto;
}

.tab-content__title {
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

/* tab */

.menu-item a {
	color: #000;
}

.menu-item a.active {
	text-decoration: underline;
}

.tab-body {
	display: none;
}

.tab-body.active {
	display: block;
}

#new-address {
	display: none;
}

#edit-address {
	display: none;
}

#new-address:target {
	display: block;
}

#edit-address:target {
	display: block;
}

#new-address:target ~ #default-address,
#new-address:target ~ #edit-address {
	display: none;
}

#edit-address:target ~ #default-address,
#edit-address:target ~ #new-address {
	display: none;
}
