/* colors */

.transparent {
	background: transparent;
}

.color-accent-1 {
	background: red;
}

.color-accent-2 {
	background: blue;
}

.color-background-1 {
	background: rgb(151, 184, 202);
}

.color-background-1 {
	background: rgb(78, 78, 121);
}

.color-inverse {
	background: #f1f1f1;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.c-btn {
	background: transparent;
	height: 58px;
	max-width: 236px;
}

.c-btn--white {
	border: 1px solid #fff;
	color: #fff;
}

.c-btn--dark {
	border: 1px solid #000;
	color: #000;
}

.c-btn--dark svg path {
	fill: #000;
}

.c-btn--arrow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 1.5rem;
}
