.swiper {
	width: 100%;
	height: 100%;
}

.swiper-wrapper {
	margin-bottom: 2rem;
}

.swiper-horizontal > .swiper-scrollbar {
	height: 2px !important;
	width: 100% !important;
}

.swiper-scrollbar-drag {
	height: 2px !important;
}

.product-slider {
	margin: 5rem 0;
}

.product-item__title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-item__title svg {
	transition: 0.3s;
	transform: translateX(-100%);
	opacity: 0;
}

.product-item__title svg path {
	fill: #000;
}

.product-item:hover .product-item__title svg {
	transform: translateX(4px);
	opacity: 1;
}
