{% style %}
.page-404 {
margin-top: 2rem;
text-align: center;
}

.page-404 h4 {
margin-top: 2rem;
}

{% endstyle %}
<div class="container">

    <div class="page-404">
        <h1>{{ 'general.404.title' | t }} {{ 'general.404.subtext_html' | t }}</h1>
        <h4>Back to <a href="/">{{'home page' | upcase}}</a></h4>
    </div>

</div>